* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'UnifrakturMaguntia', cursive;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://media1.tenor.com/m/ospu_1cQYcQAAAAC/elden-ring-goty.gif') no-repeat center center/cover;
    filter: blur(1px) brightness(0.5);
    z-index: -2;
    transition: background-image 0.5s ease-in-out;
}

.center-text {
    color: #ff1e56;
    font-size: 4em;
    text-shadow: 0 0 20px rgba(255, 30, 86, 0.8), 0 0 30px rgba(255, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #ff1e56, 0 0 20px #ff0000; }
    100% { text-shadow: 0 0 30px #ff1e56, 0 0 40px #ff0000; }
}

.quote-text {
    color: #ffffff;
    font-size: 1.2em;
    position: absolute;
    top: 10%;
    z-index: 1;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.links {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    display: inline-block;
    margin: 0 10px;
}

.links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.links img:hover {
    transform: scale(1.1);
}
